# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Ignore platform dirs
# https://docs.expo.dev/workflow/continuous-native-generation/#:~:text=If%20you%20troubleshoot,.easignore%20files%3A
mensasverige/android
mensasverige/ios

# Metro
.metro-health-check*

# Platform dirs
/ios
/android

# Credentials
credentials.json

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
