pymongo # MongoDB driver
requests # HTTP requests
PyJWT # JWT tokens
pytest # Testing
requests-mock # Mocking HTTP requests
cryptography # For Fernet encryption
pytz # Timezone support
fastapi # FastAPI framework
fastapi-health # Health checks for FastAPI
python-multipart # Multipart form data
uvicorn # ASGI server for FastAPI
sqlalchemy # ORM for databases
faker # Fake data generator

# Documentation
sphinx
sphinx-markdown-builder