name: Release Version and Trigger Deployments

on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      release_tag:
        description: "Selected release tag"
        type: string
        required: true

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  prepare-data:
    runs-on: ubuntu-latest
    outputs:
      GIT_TAG: ${{ steps.generate-docker-tag.outputs.GIT_TAG }}
      DOCKER_TAG: ${{ steps.generate-docker-tag.outputs.DOCKER_TAG }}
      COMMIT_HASH: ${{ steps.generate-docker-tag.outputs.GIT_HASH }}
      COMMIT_MESSAGE: ${{ steps.last_commit.outputs.message }}
    steps:
      - name: Get Last Commit data
        id: last_commit
        run: |
          echo "message=$(git log -1 --pretty=%B)" >> $GITHUB_OUTPUT
          echo "sha=$(git log -1 --pretty=%H)" >> $GITHUB_OUTPUT

      - name: Generate Docker tag from release date and git commit hash
        id: generate-docker-tag
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            TAG_NAME=${{ github.event.inputs.release_tag }}
          else
            TAG_NAME=${GITHUB_REF#refs/tags/}
          fi
          SHORT_SHA="$(echo $GITHUB_SHA | cut -c 1-7)"
          echo "GIT_TAG=$TAG_NAME" >> $GITHUB_OUTPUT
          echo "DOCKER_TAG=$TAG_NAME.$SHORT_SHA" >> $GITHUB_OUTPUT
          echo "GIT_HASH=$SHORT_SHA" >> $GITHUB_OUTPUT

  # commented out until ios builds are stable
  # publish-eas-build:
  #   needs: prepare-data
  #   uses: ./.github/workflows/eas-build.yml
  #   with:
  #     profile: production
  #     platform: all
  #     clear_cache: true

  publish-eas-update:
    needs: prepare-data
    uses: ./.github/workflows/eas-update.yml
    with:
      release_tag: ${{ needs.prepare-data.outputs.GIT_TAG }}
      channel: production
      platform: android
    secrets: inherit

  publish-website:
    needs: prepare-data
    uses: ./.github/workflows/publish-website.yml
    with:
      release_tag: ${{ needs.prepare-data.outputs.GIT_TAG }}
      docker_tag: ${{ needs.prepare-data.outputs.DOCKER_TAG }}

  publish-backend:
    needs: prepare-data
    uses: ./.github/workflows/publish-backend.yml
    with:
      docker_tag: ${{ needs.prepare-data.outputs.DOCKER_TAG }}
      commit_message: ${{ needs.prepare-data.outputs.COMMIT_MESSAGE }}
      commit_hash: ${{ needs.prepare-data.outputs.COMMIT_HASH }}
      release_tag: ${{ needs.prepare-data.outputs.GIT_TAG }}

  update-gitops:
    needs: [prepare-data, publish-website, publish-backend]
    uses: ./.github/workflows/update-gitops.yml
    with:
      release_tag: ${{ needs.prepare-data.outputs.TAG_NAME }}
      docker_tag: ${{ needs.prepare-data.outputs.DOCKER_TAG }}
      commit_message: ${{ needs.prepare-data.outputs.COMMIT_MESSAGE }}
    secrets: inherit